@charset "utf-8";

/* all device */

/* 모바일 해상도일때 */
@media all and (max-width: 768px) {
    img {
        max-width: 100%;
    }

    .text-link {
        display: inline-block;
        font-size: 1.6rem;
        list-style: none;
        line-height: 24px;
        color: #000;
        padding-bottom: 6px;
        position: relative;
    }

    .text-link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: #aaa;
        transition: background .4s;
    }

    .text-link:hover::after {
        background: #000;
    }

    /* main */
    #main {
        /* background: yellow; */
        padding: 0 24px;
    }

    /* products 섹션 */
    /* ride 파트 */
    .detail-text {
        margin-top: 40px;
    }

    .detail-text em {
        font-family: UberMove;
        font-size: 3.6rem;
        font-weight: 500;

    }

    input::placeholder {
        font-size: 1.6rem;
    }

    .pickup::before {
        content: '';
        border: 1px solid #000;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    .pickup::after {
        content: "";
        display: block;
        border-left: 1px solid #000;
        z-index: 1;
        height: 45px;
        position: absolute;
        top: 30px;
        left: 18px;
    }

    .destination::before {
        content: '';
        display: block;
        border: 1px solid #000;
        width: 5px;
        height: 5px;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    /* pickup location */
    .pickup {
        background: #f6f6f6;
        height: 50px;
        position: relative;
        padding: 10px 30px;
        margin-top: 20px;
        border: none;
    }

    .pickup input {
        background: transparent;
        width: 100%;
        height: 100%;
        border: none;
        line-height: 100%;
    }

    .pickup a {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    /* destination */
    .destination {
        background: #f6f6f6;
        height: 50px;
        position: relative;
        padding: 10px 30px;
        margin: 5px 0 30px;
        border: none;

    }

    .destination input {
        background: transparent;
        width: 100%;
        height: 100%;
        border: none;
    }

    .destination a {
        background: #eeeeee;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        padding: 18px;
    }

    .detail-img {
        margin-top: 80px;
    }

    /* service 섹션 */
    .service {
        padding: 30px 0 60px;
        /* background: skyblue; */
    }

    .service-info {
        margin: 0 0 30px;
    }

    .service-info h2 {
        margin: 0 0 12px;
        font-size: 3.6rem;
        font-weight: 500;
        color: #000;
    }

    .service-bg {
        display: block;
    }

    /* ad-video 아티클 */
    .ad-video {
        position: relative;
        margin-bottom: 94px;
        background: yellowgreen;
    }

    .video-info-layer {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        padding: 30px 24px;
    }

    .video-info-layer p {
        margin-bottom: 12px;
        font-size: 2.8rem;
        font-weight: 500;
        color: #fff;
        line-height: 36px;
    }

    .youtube-link {
        margin-bottom: 24px;
        color: #fff;
        font-size: 1.6rem;
        display: block;
        line-height: 24px;
    }

    .video-info-layer svg {
        font-size: 3.6rem;
        margin-right: 12px;
        line-height: 24px;
        height: 100%;
    }

    .video-info-layer span {
        display: inline-block;
        line-height: 3.6rem;
        font-weight: 500;
    }

    .video-info-layer .text-link {
        color: #fff;
        font-weight: 500;
    }

    .video-info-layer .text-link::after {
        background: #fff;
        transition: height .4;
    }

    .video-info-layer .text-link:hover::after {
        height: 2px;
    }

    .video-box video {
        width: 100%;
    }

    /* safety 섹션 */
    .safety {
        /* background: silver; */
    }

    .safety-details {
        margin-bottom: 30px;
    }

    .safety-details h2 {
        line-height: 36px;
        font-size: 2.8rem;
        font-weight: 500;
        color: #000;
        margin-bottom: 12px;
    }

    .safety-details p {
        font-size: 1.6rem;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 12px;
    }

    .safety-details .here-link {
        font-weight: 500;
        text-decoration: underline;
        text-underline-position: under;
    }

    .safety-bg {
        padding: 87px 0;
    }

    /* sitemap 정보섹션 */
    .sitemap-info {
        /* background: skyblue; */
        padding: 30px 0;
    }

    .sitemap-info img {
        padding-bottom: 24px;
    }

    .sitemap-info div {
        margin-bottom: 30px;
    }

    .sitemap-info div:last-child {
        margin: 0;
    }

    .sitemap-info .description dt {
        margin-bottom: 12px;
        font-size: 1.8rem;
        line-height: 24px;
        font-weight: 500;
        color: #000;
    }

    .sitemap-info .description dd {
        margin-bottom: 12px;
        color: currentColor;
        font-size: 1.6rem;
        line-height: 24px;
        font-weight: 400;
    }

    /* signup list 섹션 */
    .signup-list {
        /* background: aqua; */
        padding: 30px 0;
    }

    .signup-list li {
        min-height: 36px;
        margin-bottom: 50px;
    }

    .signup-list li a {
        display: block;
        padding-bottom: 30px;
        border-bottom: 1px solid #000;
    }

    .signup-list li a::after {
        display: block;
        content: "";
        clear: both;
    }

    .signup-list p {
        float: left;
        width: 70%;
        font-size: 2.8rem;
        line-height: 44px;
        font-weight: 500;
        word-break: keep-all;
        color: #000;
    }

    .signup-list a:hover {
        border-bottom-color: #276efe;
        transition: all .4s;
    }

    .signup-list a:hover p {
        color: #276efe;
        transition: all .4s;
    }

    .signup-list a:hover svg {
        fill: #276efe;
        transition: all .4s;
    }

    .signup-list span {
        float: right;
        width: 30%;
        line-height: 36px;
    }

    .signup-list svg {
        float: right;
        font-size: 4.4rem;
        line-height: 24px;
        width: 30px;
        height: 44px;
        color: #000;
    }

}

/* 태블릿 해상도일때 */
@media all and (min-width: 769) and (max-width: 1024px) {}

/* PC 해상도일때 */
@media all and (min-width: 1025px) {}