@charset "utf-8";

/* all device */

/* 모바일 해상도일때 */
@media all and (max-width: 768px) {
    img {
        max-width: 100%;
    }

    .text-link {
        font-size: 1.6rem;
        list-style: none;
        line-height: 24px;
        color: #000;
        padding-bottom: 6px;
        position: relative;
    }

    .text-link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border: 1px solid #aaa;
        width: 100%;
    }

    /* main */
    #main {
        background: yellow;
        padding: 0 24px;
    }

    /* products 섹션 */

    /* service 섹션 */
    .service {
        padding: 30px 24px 60px;
        background: skyblue;
    }

    .service-info h2 {
        font-size: 3.6rem;
        font-weight: 500;
        color: #000;
    }

    .service-bg {
        display: block;
    }

    /* ad-video 아티클 */
    .ad-video {
        padding-bottom: 64px;
        background: yellowgreen;
    }

    .video-info-layer {
        padding: 30px 24px;
    }
    .video-info-layer p {
        padding-bottom: 12px;
        font-size: 2.8rem;
        font-weight: 500;
        color: #fff;
        line-height: 36px;
    }

    .youtube-link {
        color: #fff;
        font-size: 1.6rem;
        display: block;
        line-height: 24px;
    }

    .video-info-layer svg {
        font-size: 3.6rem;
        margin-right: 12px;
        line-height: 24px;
        height: 100%;
    }

    .video-info-layer span {
        display: inline-block;
        line-height: 3.6rem;
        font-weight: 500;
    }

    .video-info-layer .text-link {
        color: #fff;
        font-weight: 500;
        padding-top: 24px 0 0;
    }

    .video-info-layer .text-link::after {
        border: 1px solid #fff;
    }

    .video-box video {
        width: 100%;
    }

    /* safety 섹션 */
    .safety {
        background: silver;
        padding: 30px 24px 0;
    }

    .safety-details {
        margin-bottom: 10px;
    }

    .safety h2 {
        line-height: 36px;
        font-size: 2.8rem;
        font-weight: 500;
        color: #000;
        margin-bottom: 12px;
    }

    .safety p {
        color: currentColor;
        font-size: 1.6rem;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 12px;
    }

    /* sitemap 정보섹션 */
    .sitemap-info {
        background: skyblue;
        padding: 30px 24px;
    }

    .sitemap-info img {
        padding-bottom: 24px;
    }

    .sitemap-info .description dt {
        margin-bottom: 12px;
        font-size: 1.8rem;
        line-height: 24px;
        font-weight: 500;
        color: #000;
    }

    .sitemap-info .description dd {
        margin-bottom: 12px;
        color: currentColor;
        font-size: 1.6rem;
        line-height: 24px;
        font-weight: 400;
    }

    /* signup list 섹션 */
    .signup-list {
        background: aqua;
        padding: 30px 24px;
    }

    .signup-list li {
        min-height: 36px;
        padding-bottom: 30px;
        border-bottom: 1px solid #000;
        margin-bottom: 50px;
    }

    .signup-list li::after {
        display: block;
        content: "";
        clear: both;
    }

    .signup-list p {
        display: inline-block;
        float: left;
        width: 70%;
        font-size: 2.8rem;
        font-weight: 500;
        overflow: wrap;
        word-break: keep-all;
        color: #000;
    }

    .signup-list span {
        float: right;
        width: 30%;
        line-height: 36px;
    }

    .signup-list span svg {
        float: right;
        font-size: 4.4rem;
        line-height: 24px;
        width: 30px;
        height: 44px;
        color: #000;
    }
}

/* 태블릿 해상도일때 */
@media all and (min-width: 769) and (max-width: 1024px) {}

/* PC 해상도일때 */
@media all and (min-width: 1025px) {}