@charset "utf-8";


/* all device */

/*******************
*메인컨텐츠 탭 영역
******************/
.product-list {
    overflow: hidden;
    background: #fafaf9;
}
.product-list ul {
    font-size: 0;
}

.product-list-tab {
    display: inline-block;
    width: 105px;
}

.product-list-tab a {
    display: block;
    position: relative;
    text-align: center;
}

.product-list-tab a::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 4px;
    background: #276ef1;
    transform: scaleX(0);
    opacity: 0;
    transition: all .4s;
}

.product-list-tab.on a::after, .product-list-tab a:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

.product-list-tab span {
    display: block;
    transition: all .4s;
}

.product-list-tab.on span, .product-list-tab a:hover span {
    color: #276ef2;
}

/*******************
*footer 영역
******************/
#footer {
    position: relative;
    background: #000;
    color: #fff;
}

/*******************
*footer top 영역
******************/
.footer-logo {
    display: inline-block;
}

.footer-help li:first-child {
    margin-top: 0;
}

.footer-help a {
    display: inline-block;
    position: relative;
}

.footer-help a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    height: 1px;
    background: #ffffff;
    opacity: 0;
    transition: all .4s;
}

.footer-help a:hover::after {
    opacity: 1;
}

.footer-help .icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.footer-sitemap > div:first-child {
    margin-top: 0;
}

.footer-sitemap > div > a {
    display: inline-block;
    position: relative;
    font-family: UberMove;
}

.footer-sitemap > div > a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    height: 1px;
    background: #ffffff;
    opacity: 0;
    transition: all .4s;
}

.footer-sitemap > div > a:hover::after {
    opacity: 1;
}

.footer-sitemap-list li:first-child {
    margin: 0;
}

.footer-sitemap-list a {
    display: inline-block;
    position: relative;
}

.footer-sitemap-list a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    height: 1px;
    background: #ffffff;
    opacity: 0;
    transition: all .4s;
}

.footer-sitemap-list a:hover::after {
    opacity: 1;
}

.download-apps {
    font-size: 0;
}

.download-apps a {
    display: inline-block;
}

.download-apps a:first-child {
    margin-left: 0;
}

.footer-sns {
}

.footer-sns li {
    float: left;
}

.footer-sns li:first-child {
    margin-left: 0;
}

/*******************
*footer bottom 영역
******************/

.footer-bottom {
    margin: 44px 0 0;
    padding: 32px 0 0;
    border-top: 1px solid #4d4d4d;
}

.footer-legal {
}

.footer-legal li {
    margin: 12px 0 0;
}

.footer-legal li:first-child {
    margin-top: 0;
}

.footer-legal a {
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
    line-height: 20px;
}

.footer-legal a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    height: 1px;
    background: #ffffff;
    opacity: 0;
    transition: all .4s;
}

.footer-legal a:hover::after {
    opacity: 1;
}

.copyright {
    display: block;
    margin: 40px 0 0;
    font-size: 1.4rem;
}

/* 모바일 해상도일때 */
@media all and (max-width: 768px) {
    /*******************
    *header 영역
    ******************/
    #header {
        position: relative;
    }

    .navigation {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        height: 0;
        background: #fff;
    }

    .navigation.open {
        display: block;
        height: auto;
        min-height: calc(100vh - 50px);
    }

    .navigation section[aria-hidden="true"] {
        display: none !important;
    }

    .menu-login-area, .menu-signup-area {
        padding: 40px 24px;
        /* background: skyblue; */
    }

    .type-list li:nth-child(n + 2) {
        margin: 70px 0 0;
    }

    .type-list .icon {
        display: inline-block;
        width: 30px;
        height: 30px;
    }

    .type-list a {
        display: block;
        position: relative;
        margin: 30px 0 0;
        padding: 0 20% 30px 0;
        font-family: UberMove;
        font-size: 2.8rem;
        line-height: 36px;
        border-bottom: 1px solid #000;
    }

    .type-list a span {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
    }

    .type-list a svg {
        width: 100%;
        height: 100%;
    }

    .type-list .text {
        margin: 20px 0 0;
        font-size: 1.6rem;
        line-height: 24px;
    }

    .menu-gnb-area {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-gnb-area > * {
        flex-basis: 100%;
    }

    .language-btn-box {
        position: relative;
        order: 1;
        margin: 24px 0 0;
        padding: 24px 24px 0;
    }

    .language-btn-box::after {
        content: '';
        position: absolute;
        top: 0;
        right: 24px;
        left: 24px;
        height: 1px;
        background: #eee;
    }

    .language-btn {
        display: block;
        position: relative;
        padding: 0 0 0 48px;
        font-size: 1.8rem;
        line-height: 24px;
    }

    .language-btn span {
        position: absolute;
        top: 0;
        left: 0;
        width: 22px;
        height: 22px;
    }

    .depth2 {
        padding: 0 24px;
        background: #f6f6f6;
    }

    .depth2 li {
        float: left;
        position: relative;
    }

    .depth2 li:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 4px;
        background: #276efe;
        transform: scaleX(0);
        opacity: 0;
        transition: all .3s;
    }

    .depth2 li.on:after {
        opacity: 1;
        transform: scaleX(1);
    }

    .depth2 li:nth-child(n + 2) {
        margin: 0 0 0 24px;
    }

    .depth2 button {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 0;
        border: none;
        background: none;
        font-family: UberMove;
        font-size: 18px;
        line-height: 60px;
        cursor: pointer;
    }

    .depth3 {
        padding: 40px 24px 0;
    }

    .gnb-list-box {
        display: block;
    }

    .gnb-list-box[aria-hidden="true"] {
        display: none !important;
    }

    .depth3-list li:nth-child(n + 2) {
        margin: 15px 0 0;
    }

    .depth3-list a {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 24px;
        transition: all .4s;
    }

    .depth3-list li.on > a {
        color: #276efe;
    }

    .depth3-list a span {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        transition: all .3s;
    }

    .depth3-list li.on a span {
        transform: rotate(-180deg);
    }

    .depth3-list li.on a path {
        fill: #276efe;
        transition: all .3s;
    }

    .depth4-list {
        display: none;
        padding: 25px 0 0;
    }

    .depth3-list li.on .depth4-list {
        display: block !important;
    }

    .depth4-list li:nth-child(n + 2) {
        margin: 15px 0 0;
    }

    .depth4-list a {
        display: block;
        font-weight: 400;
        font-size: 1.6rem;
    }

    .cs-cite-box {
        position: relative;
        margin: 24px 0 0;
        padding: 24px 24px 0;
    }

    .cs-cite-box::after {
        content: '';
        position: absolute;
        top: 0;
        right: 24px;
        left: 24px;
        height: 1px;
        background: #eee;
    }

    .cs-list li:nth-child(n + 2) {
        margin: 12px 0 0;
    }

    .cs-list a {
        display: block;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 24px;
    }

    /*******************
    *메인컨텐츠 탭 영역
    ******************/
    .product-list {
        margin: 0 -24px;
        height: 122px;
        border-bottom: 1px solid #eee;
    }

    .product-list ul {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        font-size: 0;
    }

    .product-list-tab a {
        padding: 28px 14px 33px;
    }

    .product-list-tab a::after {
        bottom: 1px;
        height: 4px;
    }

    .product-list-tab img {
        width: 18px;
        height: 18px;
    }
    .product-list-tab span {
        margin: 25px 0 0;
        font-weight: 500;
        font-size: 1.6rem;
    }

    /*******************
    *footer 영역
    ******************/
    #footer {
        padding: 60px 25px 34px;
    }

    /*******************
    *footer top 영역
    ******************/
    .footer-logo {
        width: 77px;
        height: 26px;
    }

    .footer-help {
        margin: 35px 0 0;
    }

    .footer-help li {
        margin: 15px 0 0;
        font-size: 1.4rem;
    }

    .footer-help a {
        padding: 0 0 0 35px;
        font-size: 1.4rem;
        line-height: 30px;
    }

    .footer-help a::after {
        left: 35px;
    }

    .footer-help .icon {
        width: 20px;
        height: 20px;
    }

    .footer-sitemap {
        margin: 48px 0 0;
    }

    .footer-sitemap > div {
        margin: 60px 0 0;
    }

    .footer-sitemap > div > a {
        font-size: 1.8rem;
        line-height: 24px;
    }

    .footer-sitemap-list {
        margin: 15px 0 0;
    }

    .footer-sitemap-list li {
        margin: 12px 0 0;
    }

    .footer-sitemap-list a {
        font-size: 1.4rem;
        line-height: 20px;
    }

    .download-apps {
        margin: 48px 0 0;
    }

    .download-apps a {
        margin: 0 0 0 20px;
    }

    .footer-sns {
        margin: 50px 0 0;
    }

    .footer-sns li {
        margin: 0 0 0 25px;
    }

    .footer-sns svg {
        width: 24px;
        height: 24px;
    }
}

/* 태블릿 해상도일때 */
@media all and (min-width: 769px) and (max-width: 1024px) {
    #footer {
        padding: 60px 40px 65px;
    }

    .footer-top {
        padding-left: 33.333333%;
    }

    .footer-help li {
        margin: 20px 0 0;
    }

    .footer-help .icon {
        width: 20px;
        height: 20px;
    }

    .footer-help a {
        padding: 0 0 0 36px;
        font-size: 1.4rem;
        line-height: 30px;
    }

    .footer-sitemap {
        margin: 80px 0 0;
    }

    .footer-sitemap::after {
        display: block;
        content: '';
        clear: both;
    }

    .footer-sitemap > div {
        float: left;
        width: 45%;
        margin: 0 0 0 10%;
    }

    .footer-sitemap > div:first-child{
        margin-left: 0;
    }

    .footer-sitemap > div > a {
        font-size: 1.6rem;
    }

    .footer-sitemap-list {
        margin: 15px 0 0;
    }

    .footer-sitemap-list li {
        margin: 20px 0 0;
    }

    .footer-sitemap-list a {
        font-size: 1.4rem;
    }
}

 /* PC 해상도일때 */
@media all and (min-width: 1025px) {
}
