@charset "utf-8";


/* all device */
#footer {
    position: relative;
    background: #000;
    color: #fff;
}

/*******************
*footer top 영역
******************/
.footer-logo {
    display: inline-block;
}

.footer-help li:first-child {
    margin-top: 0;
}

.footer-help a {
    display: inline-block;
    position: relative;
}

.footer-help a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    height: 1px;
    background: #ffffff;
    opacity: 0;
    transition: all .4s;
}

.footer-help a:hover::after {
    opacity: 1;
}

.footer-help .icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.footer-sitemap > div:first-child {
    margin-top: 0;
}

.footer-sitemap > div > a {
    display: inline-block;
    position: relative;
    font-family: UberMove;
}

.footer-sitemap > div > a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    height: 1px;
    background: #ffffff;
    opacity: 0;
    transition: all .4s;
}

.footer-sitemap > div > a:hover::after {
    opacity: 1;
}

.footer-sitemap-list li:first-child {
    margin: 0;
}

.footer-sitemap-list a {
    display: inline-block;
    position: relative;
}

.footer-sitemap-list a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    height: 1px;
    background: #ffffff;
    opacity: 0;
    transition: all .4s;
}

.footer-sitemap-list a:hover::after {
    opacity: 1;
}

.download-apps {
    font-size: 0;
}

.download-apps a {
    display: inline-block;
}

.download-apps a:first-child {
    margin-left: 0;
}

.footer-sns {
}

.footer-sns li {
    float: left;
}

.footer-sns li:first-child {
    margin-left: 0;
}

/*******************
*footer bottom 영역
******************/

.footer-bottom {
    margin: 44px 0 0;
    padding: 32px 0 0;
    border-top: 1px solid #4d4d4d;
}

.footer-legal {
}

.footer-legal li {
    margin: 12px 0 0;
}

.footer-legal li:first-child {
    margin-top: 0;
}

.footer-legal a {
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
    line-height: 20px;
}

.footer-legal a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    height: 1px;
    background: #ffffff;
    opacity: 0;
    transition: all .4s;
}

.footer-legal a:hover::after {
    opacity: 1;
}

.copyright {
    display: block;
    margin: 40px 0 0;
    font-size: 1.4rem;
}

/* 모바일 해상도일때 */
@media all and (max-width: 768px) {
    #footer {
        padding: 60px 25px 34px;
    }

    .footer-logo {
        width: 77px;
        height: 26px;
    }

    .footer-help {
        margin: 35px 0 0;
    }

    .footer-help li {
        margin: 15px 0 0;
        font-size: 1.4rem;
    }

    .footer-help a {
        padding: 0 0 0 35px;
        font-size: 1.4rem;
        line-height: 30px;
    }

    .footer-help a::after {
        left: 35px;
    }

    .footer-help .icon {
        width: 20px;
        height: 20px;
    }

    .footer-sitemap {
        margin: 48px 0 0;
    }

    .footer-sitemap > div {
        margin: 60px 0 0;
    }

    .footer-sitemap > div > a {
        font-size: 1.8rem;
        line-height: 24px;
    }

    .footer-sitemap-list {
        margin: 15px 0 0;
    }

    .footer-sitemap-list li {
        margin: 12px 0 0;
    }

    .footer-sitemap-list a {
        font-size: 1.4rem;
        line-height: 20px;
    }

    .download-apps {
        margin: 48px 0 0;
    }

    .download-apps a {
        margin: 0 0 0 20px;
    }

    .footer-sns {
        margin: 50px 0 0;
    }

    .footer-sns li {
        margin: 0 0 0 25px;
    }

    .footer-sns svg {
        width: 24px;
        height: 24px;
    }
}

/* 태블릿 해상도일때 */
@media all and (min-width: 769px) and (max-width: 1024px) {
    #footer {
        padding: 60px 40px 65px;
    }

    .footer-top {
        padding-left: 33.333333%;
    }

    .footer-help li {
        margin: 20px 0 0;
    }

    .footer-help .icon {
        width: 20px;
        height: 20px;
    }

    .footer-help a {
        padding: 0 0 0 36px;
        font-size: 1.4rem;
        line-height: 30px;
    }

    .footer-sitemap {
        margin: 80px 0 0;
    }

    .footer-sitemap::after {
        display: block;
        content: '';
        clear: both;
    }

    .footer-sitemap > div {
        float: left;
        width: 45%;
        margin: 0 0 0 10%;
    }

    .footer-sitemap > div:first-child{
        margin-left: 0;
    }

    .footer-sitemap > div > a {
        font-size: 1.6rem;
    }

    .footer-sitemap-list {
        margin: 15px 0 0;
    }

    .footer-sitemap-list li {
        margin: 20px 0 0;
    }

    .footer-sitemap-list a {
        font-size: 1.4rem;
    }
}

 /* PC 해상도일때 */
@media all and (min-width: 1025px) {
}
